In [29]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

import os

if os.name == 'posix':

    plt.rc("font", family="AppleGothic")

else:
    plt.rc("font", family="Malgun Gothic")
    
plt.rc("axes", unicode_minus=False)

# df = pd.read_csv("boostcourse-ds-510/data/NHIS_OPEN_GJ_2017.CSV.zip", encoding="cp949")
df = pd.read_csv("https://raw.githubusercontent.com/corazzon/boostcourse-ds-510/master/data/NHIS_OPEN_GJ_2017.CSV.zip",
                 encoding="cp949")

In [30]:
age_code = {1: '0~4세',
 2: '5~9세',
 3: '10~14세',
 4: '15~19세',
 5: '20~24세',
 6: '25~29세',
 7: '30~34세',
 8: '35~39세',
 9: '40~44세',
 10: '45~49세',
 11: '50~54세',
 12: '55~59세',
 13: '60~64세',
 14: '65~69세',
 15: '70~74세',
 16: '75~79세',
 17: '80~84세',
 18: '85세+'}

In [31]:
df.head()

,기준년도,가입자일련번호,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg 단위),허리둘레,시력(좌),시력(우),...,감마지티피,흡연상태,음주여부,구강검진 수검여부,치아우식증유무,결손치유무,치아마모증유무,제3대구치(사랑니)이상,치석,데이터공개일자
0,2017,1,1,13,46,170.0,65.0,91.0,1.0,1.2,...,25.0,3.0,0.0,1,NaN,NaN,NaN,NaN,1.0,20181126
1,2017,2,2,8,41,150.0,45.0,73.4,1.2,1.0,...,10.0,1.0,0.0,1,NaN,NaN,NaN,NaN,1.0,20181126
2,2017,3,1,8,45,175.0,75.0,94.0,1.0,0.8,...,136.0,1.0,0.0,1,NaN,NaN,NaN,NaN,0.0,20181126
3,2017,4,2,12,11,155.0,55.0,67.5,0.9,1.0,...,30.0,1.0,1.0,0,NaN,NaN,NaN,NaN,NaN,20181126
4,2017,5,1,8,41,175.0,75.0,93.0,1.5,1.5,...,68.0,3.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20181126

In [35]:
df['연령대'] = df['연령대코드(5세단위)'].replace(age_code)

In [36]:
df.groupby(["연령대"])["허리둘레"].describe()

           count       mean        std   min   25%   50%   75%    max
연령대
20~24세   23244.0  75.152220  12.251781  47.5  67.5  73.4  81.0  999.0
25~29세   64898.0  77.704783  16.735734  48.0  69.0  76.5  84.2  999.0
30~34세   77517.0  81.089268  22.988111  49.0  72.0  80.1  88.0  999.0
35~39세   84621.0  82.094012  14.522095   9.2  75.0  82.0  89.0  999.0
40~44세  130912.0  80.488308  10.803098  42.1  73.0  80.0  87.0  999.0
45~49세  118357.0  80.822449   9.521622  40.0  74.0  81.0  87.0  137.0
50~54세  129833.0  81.062754   9.095438   6.5  75.0  81.0  87.0  142.0
55~59세  112175.0  81.799905   8.730398  32.0  76.0  82.0  87.5  139.0
60~64세  106491.0  82.722769   8.596176   0.0  77.0  83.0  88.0  137.0
65~69세   53624.0  83.588500   8.443542  50.0  78.0  83.5  89.0  129.0
70~74세   51586.0  84.063372   8.539639  51.0  78.0  84.0  90.0  129.8
75~79세   25972.0  84.200127   8.772306  50.0  78.0  84.0  90.0  122.0
80~84세   16205.0  83.751435   9.041091  38.0  78.0  84.0  90.0  120.0
85세+      4125.0  81.736703  17.325969  34.0  75.0  81.5  88.0  999.0